:host {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
#image-section {
	overflow: hidden;
	display: grid;
	place-items: center;
	background-color: rgb(165 197 183);

	img {
		object-fit: contain;
		width: 30vw;
	}
}
#form-section {
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: rgb(50 50 50);

	&>h1, h3 {
		justify-content: center;
	}
	&>h1 {
		font-family: 'Tilt Neon';
		align-items: center;
		color: rgb(245 245 245);
		padding-bottom: 10vh;
	}
	&>h3 {
		color: rgb(160 160 160);
		padding-bottom: 5vh;
	}
}