:host {
	display: contents;
}
s-accordian {
	display: flex;
	flex-flow: column;

	&:hover s-actions {
		opacity: 1;
	}
}
s-accordian-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	height: 32px;
	background-color: rgb(33, 37, 43);
	border-top: 1px solid rgb(13, 17, 23);
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;

	span {
		flex-grow: 1;
	}

	s-actions {
		display: flex;
		transition: opacity 300ms ease-out;
		opacity: 0;
	}
}
s-accordian-content {
	--depth: 1;
	--_base-padding: 12px;
	--_padding-left: calc(var(--depth) * var(--_base-padding));

	position: relative;
	display: flex;
	flex-flow: column;
	user-select: none;

	s-accordian-item {
		display: flex;
		align-items: center;
		height: 26px;
		padding-left: var(--_padding-left);

		&:hover {
			background-color: rgb(39 41 48);
		}
		&.active {
			background-color: rgb(53 57 64);
		}
		*:first-child {
			padding-right: 6px;
		}
		s-item, s-folder {
			padding-left: 6px;
		}
		input {
			all: unset;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			background-color: rgb(15 15 15);
			margin-right: 4px;
			padding-inline: 4px;
		}
	}

	&:not(.root)::before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		bottom: 0;
		left: calc(var(--_padding-left) - var(--_base-padding) * 0.75);
		width: 1px;
		background-color: rgb(55, 55, 55);
	}

}
